.container {
}

#cancel_button {
  position: absolute;
  top: 2%;
  right: 2%;
}

.input_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12% 0%;
}

.input_group input {
  height: 20px;
  width: 200px;
}

.name_field {
  padding: 10px;
}

.address_field {
  padding: 10px;
}

.phone_field {
  padding: 10px;
}

#submit {
  margin: 10% 0;
  width: 50%;
  /* height: 23%; */
  height: 40px;
}

#heading_modal {
  font-size: 30px;
}

.loader_wrapper {
  left: 30%;
  top: -8%;
  position: relative;
}
